# Exercises:

The end result of this exercise should be a file named prepare.py.

<br>

#### Part 1
- Using your store items data:
1. Convert date column to datetime format.
2. Plot the distribution of sale_amount and item_price.
3. Set the index to be the datetime variable.
4. Add a 'month' and 'day of week' column to your dataframe.
5. Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.
6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

<br>

#### Part 2:
- Using the OPS data acquired in the Acquire exercises opsd_germany_daily.csv, complete the following:
1. Convert date column to datetime format.
2. Plot the distribution of each of your variables.
3. Set the index to be the datetime variable.
4. Add a month and a year column to your dataframe.
5. Fill any missing values.
6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

<hr style="border:2px solid black"> </hr>

In [1]:
#tabular data manipulation
import numpy as np
import pandas as pd
#visualization
import matplotlib.pyplot as plt

#datetime utilities
from datetime import timedelta, datetime

#custom scripts
import acquire
import prepare

#remove warnings
import warnings
warnings.filterwarnings("ignore")

<hr style="border:2px solid black"> </hr>

### Part 1 Exercises:

Using your store items data:

In [ ]:
df = acquire.all_store_data()
df

#### #1. Convert date column to datetime format.

In [ ]:
#check current dtype- object
df.sale_date.dtypes

In [ ]:
df.sale_date = df.sale_date.astype('datetime64[ns]')

In [ ]:
#confirm dtype was changed
df.dtypes

#### #2. Plot the distribution of sale_amount and item_price.

In [ ]:
df.sale_amount.plot()
plt.title('Distribution of Sale Amount')
plt.ylabel('Sale Amount')
plt.show()

In [ ]:
df.item_price.plot()
plt.title('Distribution of Item Price')
plt.ylabel('Item Price')
plt.show()

#### #3. Set the index to be the datetime variable

In [ ]:
#check index
type(df.index)

In [ ]:
#must complete step 2&3 (set date as index and sort)
df = df.set_index('sale_date').sort_index()

In [ ]:
#confirm index changed
type(df.index)

#### #4. Add a 'month' and 'day of week' column to your dataframe.

In [ ]:
#create column to identify month!
df['month'] = df.index.month

In [ ]:
#create column to identify month!
df['day_of_week'] = df.index.day_name()

In [ ]:
#take a look
df.head()

#### #5. Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

In [ ]:
df['sales_total'] = df.sale_amount * df.item_price
#consider change 'sale_amount' column to 'sale_quantity'- name misleading

In [ ]:
#take a look 
df.head()

#### #6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

In [3]:
prepare.prep_store()

,item,sale_amount,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,month,day_of_week,sales_total
sale_date,,,,,,,,,,,,,,,,,,
2013-01-01,1,13.0,1,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,1,Tuesday,10.92
2013-01-01,12,26.0,211817,7,12018 Perrin Beitel Rd,San Antonio,7,TX,78217,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,1,Tuesday,218.40
2013-01-01,46,27.0,832657,7,12018 Perrin Beitel Rd,San Antonio,7,TX,78217,Mama Marys,46,Pizza Sauce,4.65,35457770664,35457770664,1,Tuesday,125.55
2013-01-01,12,54.0,213643,8,15000 San Pedro Ave,San Antonio,8,TX,78232,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,1,Tuesday,453.60
2013-01-01,12,35.0,215469,9,735 SW Military Dr,San Antonio,9,TX,78221,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,1,Tuesday,294.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31,34,21.0,619014,9,735 SW Military Dr,San Antonio,9,TX,78221,Halls,34,Halls Menthol Cough Suppresant/oral Anesthetic...,4.17,312546628694,312546628694,12,Sunday,87.57
2017-12-31,34,32.0,620840,10,8503 NW Military Hwy,San Antonio,10,TX,78231,Halls,34,Halls Menthol Cough Suppresant/oral Anesthetic...,4.17,312546628694,312546628694,12,Sunday,133.44
2017-12-31,35,55.0,622666,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Natures Way,35,Natures Way Forskohlii - 60 Ct,5.19,33674100066,33674100066,12,Sunday,285.45
2017-12-31,33,100.0,598928,8,15000 San Pedro Ave,San Antonio,8,TX,78232,The First Years,33,Tomy The First Years Gumdrop Orthodontic Pacif...,6.52,71463060078,71463060078,12,Sunday,652.00
2017-12-31,50,82.0,913000,10,8503 NW Military Hwy,San Antonio,10,TX,78231,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,12,Sunday,426.40

<hr style="border:3px solid black"> </hr>

### Part 2 Exercises:

Using the OPS data acquired in the Acquire exercises opsd_germany_daily.csv, complete the following:

In [ ]:
germany = acquire.get_germany_data()
germany

#### #1. Convert date column to datetime format.

In [ ]:
#check current dtype- object
germany.Date.dtypes

In [ ]:
germany.Date = germany.Date.astype('datetime64[ns]')

In [ ]:
#make sure
germany.info()

#### #2. Plot the distribution of each of your variables.

In [ ]:
#visualize distribution
for col in germany.columns:
    plt.hist(germany[col])
    plt.title(col)
    plt.show()

#### #3. Set the index to be the datetime variable.

In [ ]:
#check current index
type(germany.index)

In [ ]:
#must complete step 2&3 (set date as index and sort)
germany = germany.set_index('Date').sort_index()

In [ ]:
#recheck index
type(germany.index)

#### #4. Add a month and a year column to your dataframe.

In [ ]:
#create new colum for month
germany['month'] = germany.index.month

In [ ]:
#create new colum for year
germany['year'] = germany.index.year

In [ ]:
#take a look
germany.head()

#### #5. Fill any missing values.

In [ ]:
#check for nulls
germany.isnull().sum()

In [ ]:
#check all data
germany.info()

#nearly 50%nulls on some columns

In [ ]:
#fill nulls with 0
germany.fillna(0)

#### #6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

In [4]:
prepare.prep_germany()

            Consumption     Wind   Solar  Wind+Solar  month  year
Date
2006-01-01   1069.18400      NaN     NaN         NaN      1  2006
2006-01-02   1380.52100      NaN     NaN         NaN      1  2006
2006-01-03   1442.53300      NaN     NaN         NaN      1  2006
2006-01-04   1457.21700      NaN     NaN         NaN      1  2006
2006-01-05   1477.13100      NaN     NaN         NaN      1  2006
...                 ...      ...     ...         ...    ...   ...
2017-12-27   1263.94091  394.507  16.530     411.037     12  2017
2017-12-28   1299.86398  506.424  14.162     520.586     12  2017
2017-12-29   1295.08753  584.277  29.854     614.131     12  2017
2017-12-30   1215.44897  721.247   7.467     728.714     12  2017
2017-12-31   1107.11488  721.176  19.980     741.156     12  2017

[4383 rows x 6 columns]